<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<meta charset="UTF-8">
<title>Insert title here</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/awesome.css}" rel="stylesheet" />
<link th:rel="stylesheet" th:href="@{/fontawesome/css/all.css}">
<link th:rel="stylesheet" th:href="@{/css/sweetalert.css}">

<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/sweetalert.min.js}"></script>


</head>

<style>
	li>a {
		color: #065c90;
	}

	#conteudopagina {
		margin-left: 30px;
		margin-right: 10px;
		padding-top: 10px;
	}
	
	a {
    	text-decoration: none !important;
    	color: black;
    }
    
    .botao-voltar{
    	float: right;
    	margin-right: 4%;
    	margin-bottom: 5%;
    }
</style>

<body>
	
		<input th:if="${layoutMensagem != null}" th:classappend="'msg-' + ${layoutMensagem.tipo}" type="hidden" th:value="${layoutMensagem.conteudo}"/>
		
		<nav class="navbar navbar-expand-lg container-fluid" style="background-color: #fbfbfb;" >
	
			<a th:href="@{/}"> <img width="250px" th:src="@{/img/logo.png}" class="mb-2" />
			</a>
	
			<div class="collapse navbar-collapse" id="navbarResponsive">
	
				<ul class="navbar-nav ml-auto bar">
	
					<li class="nav-item">
						<div class="mr-lg-2">
							<b th:if="${usuarioLogado} != null" style="text-transform: capitalize;">[[${usuarioLogado.nomePessoa}]]</b>
							<a th:if="${usuarioLogado} == null" class="btn btn-primary-link btn-onlyicon" th:href="@{/autenticacao}"><i class="fas fa-sign-in-alt"></i></a>

						</div>
					</li>
	
					<li th:if="${usuarioLogado} != null" class="nav-item"><a class="mr-lg-2" th:href="@{/logout}"
						title="logout"> <i class="fa fa-fw fa-power-off"></i>
					</a></li>
					
				</ul>
			</div>
		</nav>
		
		<section id="conteudopagina">
			<div layout:fragment="conteudo" class="container">Page content goes here</div>
		</section>

	
	
	<script>
		$('.msg-error').each(function() { 
			swal("", $(this).val(),"error");
		});
		
		$('.msg-warning').each(function() { 
			swal("", $(this).val(),"warning");
		});
		
		$('.msg-info').each(function() { 
			swal("", $(this).val(),"info");
		});
		
		$('.msg-success').each(function() { 
			swal("", $(this).val(),"success");
		});
		$('.msg-danger').each(function() { 
			swal("", $(this).val(),"error");
		});
	</script>
	
	
</body>
</html>