<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
layout:decorator="fragmentos/template_publico">
    <head>
        <title>Stackuf</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <style type="text/css">
    	
    	.container {
    		margin-left: 50px
    	}
    	
    	.cabecalho {
    		border-top: none !important;
    	}
    	
    	a:hover{
    		font-weight: bold !important;
    		color: black;
    	}
    	
    </style>
    
    </head>
    <body>
    
    	<div layout:fragment="conteudo" >  
    		<div class="row">
	    		<div class="col-8" th:if="${!#lists.isEmpty(posts)}" style="padding-top: 15px; padding-left: 25px;">
	    			
		    		<table class="table">
					  <thead>
					    <tr>
					      <th class="cabecalho" scope="col" width="40px">Respostas</th>
					      <th class="cabecalho" scope="col">Título</th>
					      <th th:if="${usuarioLogado} != null" class="cabecalho" scope="col">Opções</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr  th:each="post:${posts}">
					    
					      <td >[[${post.respostas.size()}]]</td>
					      <td ><a th:href="@{'/post/visualizar/' + ${post.id}}">[[${post.titulo}]]</a></td>
					      <td th:if="${usuarioLogado} != null">
					      	
						      	<a th:href="@{'/post/visualizar/' + ${post.id}}">
						      		<i class="far fa-eye"></i>
						      	</a>
						      	
						      	
						      	<a th:if="${post.responsavel.idUsuario == usuarioLogado.idUsuario}" th:href="@{'/post/form_editar_post/' + ${post.id}}">
						      		<i class="far fa-edit"></i>
						      	</a>
						      	
						      	<a th:if="${post.responsavel.idUsuario == usuarioLogado.idUsuario}" th:href="@{'/post/remover_post/' + ${post.id}}">
						      		<i class="fas fa-trash-alt"></i>
						      	</a>
					
					      </td>
					    
					    </tr>
					  </tbody>
					</table>
					
					
	    		</div>
	
		        <div class="col-8" th:if="${#lists.isEmpty(posts)}">
		            <h3>Nenhum post cadastrado.</h3>
		        </div>
		        
		        
		        <div class="col-4" th:if="${!#lists.isEmpty(grupos)}" style="padding-top: 15px; padding-left: 25px;">
		    		<table class="table">
					  <thead>
					    <tr>
					      <th class="cabecalho" scope="col">grupo</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr th:each="grupo:${grupos}">
					      <td ><a th:href="@{'/post/' + ${grupo.id}}">[[${grupo.titulo}]]</a></td>
					    </tr>
					  </tbody>
					</table>
					
					
	    		</div>
	    		<hr>
		        <div class="col-4" th:if="${#lists.isEmpty(grupos)}" >
		            
		            <h3>Nenhuma grupo.</h3>
		        </div>
    		</div>
    		<div class="row" style="width: 100%">
				<div class="col-md-12">    			
	    			<a th:if="${usuarioLogado} != null" th:href="@{/post/form_novo_post/0}" class="btn btn-sm btn-primary">Novo Post</a>
	    			<a class="botao-voltar btn btn-sm btn-primary" style="float: right;" th:href="@{'/relatorio/mostrar_relatorio/'}">Gerar Relatório</a>
    			 </div>
    		</div>
        </div>
    </body>
</html>