<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
>
    <head>
        <title>Suas Turmas</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <style type="text/css">
    
    	.cabecalho {
    		border-top: none !important;
    	}
    	
    	a:hover{
    		font-weight: bold !important;
    		color: black;
    	}
    	
    	.container {
    		width:300px;
    	}
    	
    </style>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

    </head>
    <body>
    

    		<div class="container" >
    			<div class="row">
    				 <div style="text-align:center; margin: 0 auto;">
			    		<form  style="width: 300px;" method="post" class="justify-content-center" th:action="@{/autenticacao}">
						  <div class="form-group">
						    <label for="exampleInputEmail1">Login</label>
						    <input type="text" class="form-control" id="username" name="username" placeholder="login">
						  </div>
						  <div class="form-group">
						    <label for="exampleInputPassword1">Senha</label>
						    <input type="password" class="form-control" id="password" name="password" placeholder="senha">
						  </div>
						  <button type="submit" class="btn btn-primary">Entrar</button>
						</form>
						<div th:if="${param.error}" class="text-center">
	            				Usuário ou senha invalidos
	        			</div>
	        		</div>
				</div>
    		</div>

    </body>
</html>