<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
	layout:decorator="fragmentos/template">

<head>
<title>Posts</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<div layout:fragment="conteudo">
		<div>
			<h3 th:if="${post.id < 1}">Novo Post</h3>
			<h3 th:if="${post.id > 0}">Editar Post</h3>
			<hr>
		</div>
		<div style="padding-top: 15px; padding-left: 25px;">
			<form th:action="@{/post/cadastrar}" th:object="${post}"
				th:method="POST">
				
				<input type="hidden" class="form-control col-8"  th:field="*{id}">
				<input type="hidden" class="form-control col-8"  th:field="*{responsavel}">
				<input type="hidden" class="form-control col-8"  th:field="*{status}">
				
				<div class="form-group">
					<div class="row">
						<label for="conteudo">Grupo</label>
					</div>
					<div class="row">
						<select class="js-example-basic-multiple col-8 "th:field="*{grupo}"required>
							<option th:each="grupo : ${grupos}" th:value="${grupo.id}" th:text="${grupo.titulo}" ></option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<div class="row">
						<label for="titulo ">Título</label>
					</div>
					<div class="row">
						<input type="text" class="form-control col-8" id="titulo"
							th:field="*{titulo}">
					</div>
				</div>

				<div class="form-group">
					<div class="row">
						<label for="conteudo">Conteudo</label>
					</div>
					<div class="row">
						<textarea id="textarea" class="form-control col-8" rows="10" cols="60"
							th:field="*{conteudo}"></textarea>
					</div>
				</div>

				<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
				
				<a class="botao-voltar btn btn-sm btn-primary" th:href="@{'/post/voltar_para_posts/'}">Voltar</a>
				
			</form>
		</div>
	</div>
</body>
</html>