<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
layout:decorator="fragmentos/template">
    <head>
        <title>Posts</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        <style type="text/css">

		.container-post-resposta {
		    background-color: #fafafa;
		    border: 1px solid #e1e8ed;
		    border-radius: 4px;
		}
		
		.container-post{
			padding-top: 10px;
		    padding-left: 10px;
		}
		
		.container-resposta{
		    border-bottom: 1px solid #e1e8ed;
		    margin-top: 10px;
		    margin-left: 20px;
		    margin-bottom: 1px;
		}
		
		.informacoes-usuario {
			margin-bottom: 10px;
		}
		
		.nome-usuario {
		    font-weight: 700;
			display:inline;
		}
		
		.data-hora {
		    display: inline-block;
		    background-color: transparent;
		    color: #ababab;
		    float: right;
		    margin-right: 10px;
		}
		
		.corpo-post-resposta{
			
		}
		
		.imagem-usuario{
		}
		
		.opcoes{
			float:right;
			margin-right: 10px;
			margin-bottom: 10px;
		}
		
		
		
		
		
		<!-- Adiciona estilo à tabela-->
		table {
		    font-family: arial, sans-serif;
		    border-collapse: collapse;
		    width: 100%;
		}
		
		td, th {
		    border: 1px solid #dddddd;
		    text-align: left;
		    padding: 8px;
		}
		
		tr:nth-child(even) {
		    background-color: #dddddd;
		}     
        
        </style>
        
        
        
        
        <script type="text/javascript" th:inline="javascript">
        
     // <![CDATA[
        
window.onload = function () {
	
	dataPoints = [];

var options = {
	animationEnabled: true,
	title: {
		text: "Número de respostas por posts"
	},
	axisY: {
		title: "respostas",
		includeZero: false
	},
	axisX: {
		title: "Posts"
	},
	data: [{
		type: "column",
		yValueFormatString: "#,##0.0#"%"",
		dataPoints
	}]
};


var listaValores = [[${valores}]];
var listaLabels = [[${rotulos}]];



for (i = 0; i < listaValores.length; i++) {    
	dataPoints.push({label: listaLabels[i], y: listaValores[i]});
}

options.data.push(dataPoints);

$("#chartContainer").CanvasJSChart(options);

}
//]]>
</script>
        
        
        
        

        
    </head>
    <body>
    	<div layout:fragment="conteudo">
    	
		<div class="row">
			<h3 style="text-align: right; text-align: center; width: 100%;">Relatório</h3>
		</div>
			

		<div class="row" style="margin-top: 5%;">
		
			<div class="col-md-4" style="height: 60vh;">
			
				<div style="overflow: auto; width: 100%; height: 100%;">
					<table style="float: right;">
						<tr>
						    <th>Post</th>
						    <th>Quant. de respostas</th>
						</tr>
						<div  th:each="par:${pares}">
						
							<tr>
							  <td>[[${par.getKey()}]]</td>
							  <td style="text-align:center;">[[${par.getValue()}]]</td>
							</tr>
						
						</div>
					</table>
				</div>
			</div>

			<div class="col-md-8">
			
				<div id="chartContainer" style="height: 300px; width: 100%; margin-bottom: 0px;"></div>
				<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
				<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
			</div>
		</div>

        </div>			        
    </body>
</html>